<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>由于手机性能问题，目前iRime还不支持字典编译，请在电脑端编译完成后传到手机上。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>开启用户输入习惯需要在（设置-&gt;通用-&gt;键盘-&gt;键盘-&gt;iRime输入法-&gt;允许完全访问）设为打开状态</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>SelectInputViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>选择你喜欢的输入法</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>CC</string>
			<key>Title</key>
			<string>繁简转换</string>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>简体到繁體</string>
				<string>繁體到简体</string>
				<string>简体到臺灣正體</string>
				<string>臺灣正體到简体</string>
				<string>简体到香港繁體</string>
				<string>香港繁體到简体</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>SettingFileViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>配置你的输入法</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>recoverSetting</string>
			<key>Title</key>
			<string>还原配置</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>shareToFriend</string>
			<key>Title</key>
			<string>分享</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKSubtitle</key>
			<string>安全好用就分享给好友</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>feedback</string>
			<key>Title</key>
			<string>问题反馈</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKSubtitle</key>
			<string>点击反馈或入QQ群:234535778反馈</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>File</key>
			<string>about</string>
			<key>Title</key>
			<string>关于</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
