<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>GuideViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>使用教程</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>SettingFileViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>配置你的输入法</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>recoverSetting</string>
			<key>Title</key>
			<string>还原配置</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>shareToFriend</string>
			<key>Title</key>
			<string>分享</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKSubtitle</key>
			<string>安全好用就分享给好友</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>feedback</string>
			<key>Title</key>
			<string>问题反馈</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKSubtitle</key>
			<string>一起改进iRime输入法</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>当前版本</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>作者</string>
			<key>DefaultValue</key>
			<string>jimmy54</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>SelectInputViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>切换你的输入法</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
