<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iRime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CAD83C31D11619200DA88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAD83DC1D11619200DA88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAD83E71D11619200DA88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CAD842F1D119ABF00DA88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
